<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_SECRET</key>
	<string>7kazJeP_ItjNuBwJjB1Gq4gda_ibOlMgVhMfooakDF4</string>
	<key>API_KEY</key>
	<string>cbukpykshj3c9</string>
</dict>
</plist>
